@model A07_UTS.ViewModel.ForgotPasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/_main.css" />
    <link rel="stylesheet" href="~/js/_main.js" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
    <title>Forgot Password</title>
</head>
<body>
<div class="login-container">
    <div class="right-panel">
        <div class="login-card">
            <h3>Forgot Password?</h3>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group mt-2">
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                <div class="form-group">
                    <a asp-asp-controller="Account" asp-action="Login">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
